a:hover {
    text-decoration: underline;
}

#nav-right {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-top: 16px;
}


#profile {
    border-radius: 50%;
    display: block;
    margin: -1px;
    overflow: hidden;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    margin-right: 30px;
}

#profile:hover {
    box-shadow: 0 0 8px rgb(0 0 0 / 30%);
}

#app-launcher {
    opacity: .55;
    padding-right: 15px;
}

#app-launcher:hover {
    opacity: .85;
}

.right-menu {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    line-height: 24px;
    font-size: 13px;
    font-family: arial, sans-serif;
    padding-right: 15px;
}

#nav-left {
    display: flex;
    float: left;
    margin: 24px 0 0 10px;
    
}

.left-menu {
    padding-left: 15px;
    color: #000;
    opacity: .75;
    text-decoration: none;
    font-size: 13px;
    font-family: arial, sans-serif;
}

#logo {
    display: flex;
    justify-content: center;
    margin-top: 84px;
    margin-bottom: 20px;
    padding-top: 109px;
}

#searchbox {
    width: 584px;
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    height: 44px;
    margin: 0 auto;
}

#searchbox:hover {
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(32,33,36,.28);
    border-color: rgba(223,225,229,0);
}

#search-icon {
    height: 20px;
    width: 20px;
    padding-top: 12px;
    padding-left: 12px;
    
}

#search-input {
    width: 88%;
    color: rgba(0, 0, 0, 0.87);
    font-size: 16px;
    font-family: arial, sans-serif;
    border: 0;
    outline: none;
    padding-left: 10px;
}
