a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

li {
    display: inline;
}

#navbar {
    position: relative;
    top: 16px;
    font-family: arial, sans-serif;
    font-size: 13px;
}

#left-menu {
    margin: 7px 0 0 25px;
}

#left-menu a {
    display: inline-block;
    padding-top: 8px;
    padding-right: 15px;
    color: #000;
    opacity: 0.75;
}

.left {
    float: left;
}

#right-menu {
    margin: 7px 25px 0 10px;
}

#right-menu a {
    display: inline-block;
    padding-top: 8px;
    padding-right: 15px;
    color: rgba(0,0,0,0.87);
}

.right {
    float: right;
}

#app-launcher {
    /* Box around image */
    display: inline-block;
    outline: none;
    vertical-align: middle;
    border-radius: 2px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    
    background-image: url(../images/icons.png);
    background-size: 528px 68px;
    background-position: -138px -37px;
    opacity: .55;
}

#app-launcher:hover {
    opacity: .85;
}

#profile {
    display: inline;
    
    height: 32px;
    width: 32px;
    border-radius: 50%;
}