body {
    color: #202124;
    
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body, a {
    font-family: arial, sans-serif;
}

#top-bar {
    position: relative;
    top: 16px;
    font-size: 13px;
}

#top-menu {
    position: absolute;
    margin: 7px 0 0 10px;
}

#top-menu a {
    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
}
